In [ ]:
import tweepy
import csv
import pandas as pd

In [ ]:
#df.drop(df.index, inplace=True)

#TOKEN TWITTER API DEVELOPER

In [ ]:
access_token = "---"
access_token_secret = "---"
api_key = "---"
api_key_secret = "---"

# KEYWORD

In [ ]:
auth = tweepy.OAuthHandler(api_key,api_key_secret)
auth.set_access_token(access_token,access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit = True)
search_key = "wisata" #/ "liburan"

#Create csv file dengan nama "Keyword"_Crawl.csv

In [ ]:
dictTweet={}
id = []
from_user = []
text = []
created_at = []
time = []
in_reply_to_user_id = []
user_followers_count = []
friends_count = []

i=0

#Set rentang waktu max 7 Hari
#Crawl limit = 18.000 tweets/Minute
for tweet in tweepy.Cursor(api.search,q=search_key,count=1000,lang = "id", since = "2021-6-1",until="2021-6-9").items(15000):
  id.append(tweet.user.id)                                                  
  from_user.append(tweet.user.screen_name)
  text.append(tweet.text)
  created_at.append(tweet.created_at)
  time.append(str(created_at[i]))
  in_reply_to_user_id.append(tweet.in_reply_to_user_id_str)
  user_followers_count.append(tweet.user.followers_count)
  friends_count.append(tweet.user.friends_count)

dictTweet = {
    "id_str":id,
    "from_user":from_user,
    "text":text,
    "created_at":created_at,
    "time":time,
    'in_reply_to_user_id':in_reply_to_user_id,
    'user_followers_count': user_followers_count,
    'friends_count':friends_count
    }

#Konversi Datatype Dict to DataFrame

In [ ]:
df = pd.DataFrame(dictTweet,columns=[
                                     'id_str',
                                     'from_user',
                                     'text',
                                     'created_at',
                                     'time',
                                     'in_reply_to_user_id',
                                     'user_followers_count',
                                     'friends_count'
])

id_str,from_user,text,created_at,time,geo_coordinates,user_lang,in_reply_to_user_id_str,in_reply_to_screen_name,from_user_id_str,in_reply_to_status_id_str,source,profile_image_url,user_followers_count,user_friends_count,user_location,status_url,entities_str

In [ ]:
df.head()

                id_str        from_user  ... user_followers_count friends_count
0           3266952709     LiBurAN_YuuK  ...                  262           587
1            131114492  heavensbacteria  ...                  156           443
2            494551877       zeentravel  ...                  247           246
3            494551877       zeentravel  ...                  247           246
4  1058682229168103427  YoyokSubandriy3  ...                 1672          1547

[5 rows x 8 columns]

#Export as CSV

In [ ]:
df.to_csv(search_key+'_crawl.csv', encoding='utf-8', index=False) #Export as CSV